<html>

<head>
    <meta charset="utf8">
    <title>MTIS Grupal</title>
    <script src="jquery.js"></script>
    <script src="bootstrap/css/bootstrap-theme.min.css"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Práctica grupal MTIS</h2>
        <div>
            <ul>
                <li>Juan Carlos Candela</li>
                <li>María Alonso López</li>
                <li>Néstor Jodar Toledo</li>
                <li>Traian Alexandru Mirci</li>
                <li>Diego Maroto García</li>
            </ul>
        </div>
        <div>
            <p>
                <a href="almacen.html">Visitar almacén.</a>
            </p>
        </div>
    </div>
</body>

</html>